#navigaton_bar{
    width: 100vw;
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav{
    position: absolute;
}

*{
    padding: 0;
    margin: 0;
}



#first_card, #content_area {
  scroll-snap-align: start;
}

/* Add this to your CSS */
.snap-scroll {
  scroll-snap-type: y mandatory;
}

.snap-align-start {
  scroll-snap-align: start;
}


body{
    background-color: #3a2411;
}


.nav_options{
    text-decoration: none;
    padding: 0 2rem 0 2rem;
    color: white;
}

#brand_name_in_nav{
    position: absolute;
    left: 9rem;
    color: white;
}

#image_slider{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#first_card{
    width: 100vw;
    height: 100vh;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
}

#product_name{
    font-size: 10rem;
    width: 44rem;
    height: 32rem;
    color: white;
}

#product1_img{
    position: absolute;
    width: 12rem;
    height: 35rem;
    object-fit: cover;
    margin-right: 5rem;
  transform: translateY(0vh) rotate(0deg);
  transition: transform 0.1s linear;
}


#second_card{
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    z-index: 10;
   
}

#third_card{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    z-index: 10;
}

#slider_nav{
    width: 3rem;
    height: 1rem;
    position: absolute;
    align-self: end;
    margin-left: 46rem;
    margin-bottom: 2rem;
    z-index: 10;
}

.slider_buttons{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
}

#btn1{
margin-left: 2.2rem;
}

#btn2{
margin-right: 1rem;
}

#btn3{
margin-left: 1.1rem;
}


#content_area{
    background-color: #3a2411;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#info_heading{
    margin-right: 4.5rem;
    margin-bottom: 20rem;
    font-size: 35px;
    color: white;
    position: absolute;
}

#product_info{
    width: 35rem;
    height: 12rem;
    margin-right: 13rem;
    color: white;
    font-size: 1.3rem;
}

#buybtn0{
    background-color: orange;
    color: white;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-top: 34rem;
    margin-right: 25rem;
    position: absolute;
}

#cards_container{
display: flex;
justify-content: space-evenly;
align-items: center;

}

#card_1{
    width: 25rem;
    height: 45rem;
    background-color: orange;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#buybtn1{
    background-color: white;
    color: orange;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

#card_2{
    width: 25rem;
    height: 45rem;
    background-color: lightskyblue;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#buybtn2{
    background-color: white;
    color: lightskyblue;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

#card_3{
    width: 25rem;
    height: 45rem;
    background-color: lightgreen;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#buybtn3{
    background-color: white;
    color: lightgreen;
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}
